*{
  padding: 0 ;
  margin: 0 ;
}
.scrollbar--custom {
  overflow-y: auto;
}

.scrollbar--custom::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3) !important;
  border-radius: 10px !important;
  background-color: none !important;
}

.scrollbar--custom::-webkit-scrollbar {
  width: 7px !important;
  background-color: none !important;
}

.scrollbar--custom::-webkit-scrollbar-thumb {
  border-radius: 10px !important;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
  background-color: #888 !important;
}

.hover--custom:hover{
  font-weight: bolder;
  text-decoration: underline;
}


.expand--sidebar{
  width: 300px;
  transition: 0.5s;
}
.collapse--sidebar{
  width: 80px;
  transition: 0.5s;
}
.transition--custom {
  transition: all 0.4s ease-in-out;
}


.notification--custom{
  
  padding: 0.8rem;
}
.notification--custom:hover{
  color: white;
  background-color: #9BB1F3;
}

.react-datepicker-popper {
  z-index: 1050 !important; /* Higher than Leaflet Map's default */
}

.leaflet-container {
  z-index: 0 !important; /* Lower than date picker */
}

@media screen and (max-width: 768px) {
  .expand--sidebar {
    width: 100%;
    transition: 0.5s;
  }
  .layout-sidebar--custom{
    flex-direction: column;
  }
  .collapse--sidebar {
    display: none;
  }
}